
/*@import url("Sections/Layouts/.public-footer/"); !* import grid CSS *!*/

/* import grid CSS */



/*pour la baniere de presentation */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

section
{
  padding: 100px 10px 100px;
}



.p-accueil{
  text-transform: none;
}


.banner
{
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  center/cover no-repeat fixed;

  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


p{
  font-size: 20px;
}

.banner h1
{
  margin-top: 20px;
  color: #fff;
  font-weight: 500;
}
.banner h2
{
  font-size: 5em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span
{
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3
{
  font-size: 6em;
  color: #FFFF00;
  font-weight: 700;
  line-height: 1em;
}

.btnPropos
{
  font-size: 2em;
  position: relative;
  background: #2d2d2d;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  /*font-style: 24 px;*/
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
.btnPropos:hover
{
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background: #2d2d2d;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  //font-style: 18px;
  font-weight: 500;
  border: 2px solid;
  border-color: #fff;
}







