@import "../../Views/Layouts/footer";
@import "../../Views/Layouts/navbar";
@import "../../Views/Pages/products/product";
@import "../../index";
@import "../../Views/Pages/Authentication/styleEspaceCo";
@import "../../Views/Pages/Recommandation/recommandation";
