@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*pour la baniere de presentation */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https:fonts.googleapis.com/css?family=Poppins:200,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.copyright {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/*pour le footer*/
.container2 {
  max-width: 1170px;
  align-items: center;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col ul {
  list-style: none;
}

.footer {
  background-color: #111;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 30px 30px;
}

.footer-col h4 {
  font-size: 18px;
  color: yellow;
  /*text-transform: capitalize;*/
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: yellow;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: yellow;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #222;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.ref {
  font-size: 15px;
}

header {
  margin-bottom: 0;
  height: 8%;
  position: fixed;
  z-index: 10000;
  width: 100%;
}

nav {
  display: flex;
}

ul {
  list-style-type: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: yellow;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: yellow;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

/* Tablet menu*/
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .z-index {
    z-index: 0;
  }

  .logo.over {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: #f0e116;
    border: 1px #b4ab2f solid;
    border-radius: 50em;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
    transition: all 0.25s;
  }

  .button.secondary a:hover {
    color: #ddd;
  }
}
.text-font.over {
  text-decoration: none;
  color: white;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 26px;
}
.text-font.over_size-connexion {
  border: 1px #b4ab2f solid;
  background-color: yellow;
  border-radius: 50em;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.text-font.over_size-connexion:hover {
  background-image: linear-gradient(to right, yellow, yellow 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
  background-color: #fff78d;
  color: black;
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}
body {
  font-family: sans-serif;
}

.primary {
  position: absolute;
  top: 0;
  margin: auto;
  text-align: center;
  display: flex;
  background: #222;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.primary_animation {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1;
  font-weight: 700;
  position: relative;
  z-index: 2;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, yellow, yellow 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
}
.primary_animation:before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 1;
  position: absolute;
  background: yellow;
  transition: all 0.3s ease-in-out;
}
.primary_animation:hover {
  background-position: 0%;
}
.primary_animation:hover:before {
  width: 100%;
}
.primary li {
  margin: 0 20px;
  position: relative;
}

@media all and (max-width: 720px) {
  .button a {
    padding: 7.5px 15px;
  }

  .primary_animation {
    text-decoration: none;
    color: transparent;
    z-index: 9999;
    visibility: hidden;
  }

  .item.active {
    visibility: visible;
  }

  .bigger {
    height: 50%;
  }
}
:root {
  --jaune:#FFFF00;
  --black:#111;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
  font-family: "Atkinson Hyperlegible", sans-serif;
  /*margin:0; padding:0;*/
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  /*transition: all .2s linear;*/
}

.title {
  text-align: center;
  text-transform: none;
  font-size: 6rem;
  padding: 2%;
}

.margin-top-product {
  margin-top: 5%;
}

.fas.fa-heart, .fas.fa-eye {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

.produitBiere {
  padding: 2rem 9%;
}

.produitBiere:nth-child(even) {
  background: #eee;
}

.btnPRODUCT {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
  text-decoration: none;
  outline: none;
  border: none;
}

.btnPRODUCT:hover {
  background: var(--jaune);
  /*letter-spacing: .1rem;*/
  color: #111;
  /*border: 1px solid;*/
  text-decoration: none;
  outline: none;
  border: none;
}

.produitBiere .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}

.produitBiere .box-container .box {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.produitBiere .box-container .box .fa-heart,
.produitBiere .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
}

.produitBiere .box-container .box .fa-heart:hover,
.produitBiere .box-container .box .fa-eye:hover {
  background: var(--jaune);
  color: #111;
}

.produitBiere .box-container .box .fa-heart {
  right: -15rem;
}

.produitBiere .box-container .box .fa-eye {
  left: -15rem;
}

.produitBiere .box-container .box:hover .fa-heart {
  right: 1.5rem;
}

.produitBiere .box-container .box:hover .fa-eye {
  left: 1.5rem;
}

.produitBiere .box-container .box img {
  height: 17rem;
  margin: 1rem 0;
}

.produitBiere .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.produitBiere .box-container .box .stars {
  padding: 1rem 0;
}

.produitBiere .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--green);
}

.produitBiere .box-container .box .price {
  color: var(--green);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

/*@import url("Sections/Layouts/.public-footer/"); !* import grid CSS *!*/
/* import grid CSS */
/*pour la baniere de presentation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px 10px 100px;
}

.p-accueil {
  text-transform: none;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), center/cover no-repeat fixed;
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 20px;
}

.banner h1 {
  margin-top: 20px;
  color: #fff;
  font-weight: 500;
}

.banner h2 {
  font-size: 5em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}

.banner h3 {
  font-size: 6em;
  color: #FFFF00;
  font-weight: 700;
  line-height: 1em;
}

.btnPropos {
  font-size: 2em;
  position: relative;
  background: #2d2d2d;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  /*font-style: 24 px;*/
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}

.btnPropos:hover {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background: #2d2d2d;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border: 2px solid;
  border-color: #fff;
}

.body-espaceco {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: #222;
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #444;
  transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #444;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
}

.pass a {
  text-decoration: none;
  color: #adadad;
}

.pass a:hover {
  color: #444;
}

input[type=submit] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #ABB2B9;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type=submit]:hover {
  border-color: #222;
  transition: 0.5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #adadad;
}

.signup_link a {
  color: #333;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.errorForm {
  marging: 100px 0;
  text-align: center;
  color: red;
}

.errorForm h2 {
  font-size: 16px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1030px) {
  .center {
    width: 350px;
  }

  .center h1 {
    font-size: 40px;
  }
}
.p {
  text-transform: none;
}

.padding {
  padding: 2%;
}

.h1 {
  display: flex;
  justify-content: center;
  font-size: 855%;
}

.h2 {
  display: flex;
  justify-content: center;
}

.padding-top {
  padding-top: 7%;
}

.box-container2 {
  display: flex;
  border: solid 1px;
  border-radius: 30px;
  background-color: rgba(255, 255, 0, 0.76);
  padding: 2%;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.box1 {
  display: flex;
  padding: 3%;
}

.box2 {
  display: flex;
  padding: 3%;
}

.resize-img {
  max-width: 100%;
  height: auto;
}
.resize-img-secondary {
  max-width: 20%;
  height: auto;
}

/*responsive*/
@media (max-width: 767px) {
  .center {
    justify-content: center;
  }

  .h1 {
    display: flex;
    justify-content: center;
    font-size: 350%;
    padding-top: 25%;
  }

  .block-img {
    margin-top: 20%;
  }

  .resize-img {
    max-width: 100%;
    height: auto;
    align-items: center;
  }
  .resize-img-secondary {
    max-width: 40%;
    height: auto;
  }

  .h2 {
    display: flex;
    justify-content: center;
    font-size: 100%;
  }

  .box2 {
    font-size: 100%;
  }
}
.html {
  font-size: 100%;
  overflow-x: visible;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

.label {
  font-size: 15px;
}

.body-contact {
  margin: 0px;
  padding: 0px;
  background-color: #adadad;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

form {
  padding: 80px;
  background-color: white;
  border-radius: 10px;
  border-bottom: 2px solid #adadad;
  border-top: 2px solid #adadad;
  border-left: 2px solid #adadad;
  border-right: 2px solid #adadad;
}

form h1 {
  font-size: 20px;
}

form .separation {
  width: 100%;
  height: 1px;
  background-color: yellow;
}

form .corps-formulaire {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

form .corps-formulaire .groupe {
  position: relative;
  /* Pour mettre positionner l’élément dans le flux normal de la page */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

form .corps-formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #c9c9c9;
  outline-color: yellow;
  border-radius: 5px;
}

form .corps-formulaire .gauche .groupe i {
  position: absolute;
  /* positionné par rapport à son parent le plus proche positionné */
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: yellow;
}

form .corps-formulaire .droite {
  margin-left: 40px;
}

form .corps-formulaire .droite .groupe {
  height: 100%;
  width: 100%;
}

form .corps-formulaire .droite .groupe textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 2px solid yellow;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 72%;
  text-transform: none;
}

form .pied-formulaire button {
  margin-top: 10px;
  background-color: yellow;
  color: black;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}

form .pied-formulaire button:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 920px) {
  form .corps-formulaire .droite {
    margin-left: 0px;
  }

  form .corps-formulaire .droite {
    width: 115%;
  }
}
.admin-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Atkinson Hyperlegible", "Poppins", sans-serif;
}

.product-manager {
  font-size: 165%;
}

.html-users {
  font-size: 100%;
}

.product-managerFontsizetable {
  font-size: 100%;
}

/* barre du dessus*/
.header-admin {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  z-index: 100000;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.6);
}

.header-admin .logo {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}

.header-admin ul {
  position: relative;
  display: flex;
}

.header-admin ul li {
  position: relative;
  list-style: none;
}

.header-admin ul i {
  position: relative;
  padding: 4px 10px;
  color: #fff;
}

.header-admin ul li a {
  position: relative;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

/*header ul li a.active,
header ul li a:hover
{	
	border-bottom: 2px solid;     
	background: #111;
}*/
/* header ul li a:hover
{	

	background: #205aff;
}*/
.admin-flex {
  display: flex;
  padding-top: 80px;
  height: 100%;
}

.admin-wrapper {
  display: flex;
  padding-top: 80px;
  height: 100%;
}

.admin-wrapper .barre-gauche {
  flex: 2;
  flex-direction: row;
  height: 100%;
  background: #909090;
}

.admin-wrapper .barre-gauche ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: #111;
}

.admin-wrapper .barre-gauche ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #111;
  padding: 18px;
  display: block;
  border-bottom: 1px solid #111;
}

.admin-wrapper .barre-gauche ul li a:hover {
  background: #EBF1EA;
}

.admin-wrapper .admin-content {
  flex: 8;
  flex-direction: row;
  height: 100%;
  padding: 40px 100px 100px;
  overflow-y: scroll;
}

.admin-content .titre-page {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.admin-content .titre-page2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  border: 1px solid;
}
.form-titre {
  margin-bottom: 1.5rem;
}
.form-text {
  height: 10px;
  width: 30%;
  line-height: 2;
  border: 1px solid;
  border-radius: 2px;
  font-size: 0.9em;
  padding: 10px;
}
.form-area {
  height: 250px;
  width: 60%;
  line-height: 2;
  border: 1px solid;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 10px;
}

.form input {
  height: 30px;
  width: 60%;
  margin-bottom: 1.5rem;
  font-size: 0.9em;
}

.btnp {
  margin-top: 25px;
  background-color: #909090;
  /* grey  */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-group {
  position: relative;
  background: #909090;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-style: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}

.btn-group:hover {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background: #fff;
  color: #222;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 30px;
  font-style: 18px;
  font-weight: 500;
  border: 2px solid;
  border-color: #111;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #111;
}

.modifier {
  color: #26BC32;
  text-decoration: none;
  cursor: pointer;
}

.supprimer {
  color: #C81010;
  text-decoration: none;
  cursor: pointer;
}

.publier {
  color: #1730AF;
  text-decoration: none;
  cursor: pointer;
}

.modifier:hover,
.supprimer:hover,
.publier:hover {
  text-decoration: underline;
}

.form-create input {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 4px;
  font-size: 16px;
  /*	border: none;
  	outline: none;*/
  background: #fff;
  color: #111;
  resize: none;
  border-radius: 6px;
}

.form-create textarea {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 90px 20px;
  font-size: 16px;
  /*	border: none;
  	outline: none;*/
  background: #fff;
  color: #111;
  resize: none;
  border-radius: 6px;
}

.select {
  margin-bottom: 25px;
}

.product-card {
  margin: 3%;
  border: 2px solid;
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.cart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1.5rem;
}

#textPanier {
  padding-top: 90px;
}

.product-card a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
}

.product-card .modify-quantity {
  font-size: 2em;
}

.product-card a:hover {
  text-decoration: none;
  color: yellow;
  background-color: black;
  transition: all 0.25s;
}

/*# sourceMappingURL=style.css.map */
